<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDI.Partner.Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HDI.Partner.Integration.Properties.Settings>
            <setting name="HDI_Partner_Integration_HDIPartnerService_PartnerService"
                serializeAs="String">
                <value>http://localhost:9000/PartnerService.svc</value>
            </setting>
        </HDI.Partner.Integration.Properties.Settings>
    </applicationSettings>
</configuration>